.Dinner {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Big-Caslon", serif;
  justify-content: flex-start;
  position: relative;
  height: 100%;
  text-align: center;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.Button-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4em;
  width: 100%;
}

.Button-container button {
  margin: 1.5em;
  z-index: 3;
}

.Button-container button:first-of-type {
  justify-self: flex-start;
}
.Button-container button:last-of-type {
  justify-self: flex-end;
}

@media (max-width: 600px) {
  .Button-container {
    display: inline-block;
  }

  .Button-container button {
    display: block;
    margin: 0.5em auto; 
    width: 80%;
  }
}