.RSVP-content {
  color: #585858;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 750px;
  padding: 0 10% 10%;
  text-align: left;
  width: 100%;
  z-index: 3;
}

.RSVP-content h3 {
  font-size: 1.4em;
}

.RSVP-content p {
  font-size: 1.2em;
}

.Button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .Button-container {
    flex-direction: column;
  }
}
