.RSVP-content {
  color: #585858;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 750px;
  padding: 3em 4em 2em;
  text-align: left;
  width: 100%;
  z-index: 3;
}

.RSVP-content h3 {
  font-size: 1.4em;
}

.RSVP-content p {
  font-size: 1.2em;
}

@media (max-width: 600px) {
  .RSVP-content {
      padding: 0 2em 2em;
  }
}
