.UnknownGuest-content {
  color: #585858;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  max-width: 750px;
  padding: 3em 4em 1em;
  text-align: left;
  width: 100%;
  z-index: 3;
}

.UnknownGuest-content h3 {
  font-size: 1.4em;
}

.UnknownGuest-content p {
  font-size: 1.2em;
}

.Form-Container {
  padding: 0em 4em 4em;
  z-index: 1;
}

.Form-Container .Input {
  border: solid #737373 1px;
  border-radius: 5px;
  width: 100%;
  font-size: 1em;
  margin-bottom: 7px;
  padding: 15px 12px;
}

@media (max-width: 600px) {
  .UnknownGuest-content,
  .Form-Container {
      padding: 1em 3em;
  }
}
