.App {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Big-Caslon", serif;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.App-header {
  font-family: "Amatic-regular";
  font-size: 2.2em;
  padding: 10% 0;
}

.App-header h1,
.App-header h3,
.App-header .small-amp {
  line-height: 1;
  margin: 0;
}

.App-header .small-amp {
  font-size: 0.5em;
}

.App-header h3 {
  font-size: 1.1em;
  margin-top: 0.25em;
  margin-bottom: 0.175em;
}

.App-intro {
  padding: 5% 0;
}
