.App {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Big-Caslon", serif;
  justify-content: flex-start;
  margin: 3em 0;
  height: 100%;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App-header {
  background-image: url("/images/new moon with hydragea.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -25px;
  color: rgb(245, 240, 223);
  font-family: "Amatic-regular";
  font-size: 2.2em;
  padding: 75px 0;
  max-width: 600px;
  width: 100%;
}

.App-header h1,
.App-header h3,
.App-header .span-small-amp {
  line-height: 1;
  margin: 0;
}

.App-header .span-small-amp {
  font-size: 0.5em;
}

.App-header h3 {
  font-size: 1.1em;
  margin-top: 0.25em;
  margin-bottom: 0.175em;
}

.App-intro {
  max-width: 260px;
  padding: 5% 0;
}

.App-intro .p-date {
  font-size: 2em;
}

@media (max-width: 580px) {
  .App-header {
    text-shadow: 1px 1px 1px #070624;
  }
}

@media (max-width: 340px) {
  .App-header {
    font-size: 28px;
  }
}
