@font-face {
  font-family: "Big-Caslon";
  src: url("/fonts/Big Caslon Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Amatic-regular";
  src: url("/fonts/AmaticSC-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Amatic-bold";
  src: url("/fonts/AmaticSC-Bold.ttf") format("truetype");
}

html {
  background-color: rgb(6, 8, 47);
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

* {
  box-sizing: border-box;
}
